html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
    background-color: cadetblue;
}


html, body {
    height: 100%;
    margin: 0;
}

.content-wrap {
    min-height: 100%;
    /* Equal to footer height */
    margin-bottom: -50px;
}

.content-wrap:after {
    content: "";
    display: block;
}

.footer, .content-wrap:after {
    height: 50px; /* Footer height */
}

.footer {
    background-color: #f5f5f5; /* Light grey background */
    text-align: center;
    padding: 20px 0;
}

.index-page-greeting {
    font-weight: 700;
    color: #fff; /* Choose a text color that stands out; adjust as needed */
    text-shadow: 2px 2px 4px #000; /* Text shadow for better readability */
    font-size: 3em; /* Adjust as needed */
}


