<!-- Title placed inside the carousel for overlaying -->
<div class="carousel-title text-center">
    <h1 class="index-page-greeting">Welcome to the Sheets Creator</h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="position: relative;">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./img/table3.jpg" class="d-block w-100" alt="table3.jpg">
        </div>
        <div class="carousel-item">
            <img src="./img/table2.jpg" class="d-block w-100" alt="table2.jpg">
        </div>
        <div class="carousel-item">
            <img src="./img/table1.jpg" class="d-block w-100" alt="table1.jpg">
        </div>
    </div>
    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>